body {
  text-align: center;
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0;
}
h1 {
  margin: 0;
  font-size: 2.9rem;
  color: rgb(210, 82, 82);
}
ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
.clan {
  font-size: 1.67rem;
}
p {
  margin-top: 2rem;
  font-size: 1.3rem;
}
header {
  background-color: rgb(195, 195, 195);
  height: 4.167rem;
}
img {
  margin: 1.41rem;
  width: 22rem;
  height: 15rem;
}
.header {
  font-size: 2rem;
  margin: 0.67rem;
  padding: 0.367rem;
  border-radius: 6.767px;
  transition: transform 0.67s;
  background-color: whitesmoke;
}
#header {
  display: flex;
  margin: 0;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: rgb(210, 82, 82);
}
.header:hover {
  transform: scale(1.067);
}
h2 {
  font-size: 2.4167rem;
  color: rgb(210, 82, 82);
}
.lista {
  background-color: gainsboro;
  width: 41%;
  margin: auto;
  border-radius: 10px;
}
.lista h2 {
  color: black;
}
#dugme {
  transition: transform 0.67s;
  display: block;
  margin: auto;
  margin-top: 27px;
  margin-bottom: 5px;
}
#dugme:hover {
  transform: scale(1.067);
}
tr {
  width: 100%;
}

th,
td {
  outline: 2px solid black;
}

table {
  margin: auto;
}

table:hover {
  cursor: pointer;
}

td:hover,
th:hover {
  background-color: aqua;
}

tr:nth-child(odd) {
  background-color: rgb(224, 224, 224);
}

.hbike:hover {
  background-color: rgb(255, 0, 0);
}

.bike:hover {
  background-color: rgb(191, 218, 43);
}
